body {
    font-family: Verdana, sans-serif;
    
}

header {
    background-color: #06400b;
    color: white;
   text-align: center;
}
h1{
    font-weight: bold;
    font-style: inherit;
    color: #333;
}
nav a{
    background-color: #e2ece4;
    color: #06400b;
    text-align: center;
}
ol{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #06400b;
}
img{
    margin: 10px;
    height: auto;
    width: 150px;
    text-align: center;
}
